[submodule "src/simulation"]
	path = src/simulation
	url = https://github.com/TadielloM/simple_uav_gazebo.git
[submodule "src/rl_aep"]
	path = src/rl_aep
	url = https://github.com/TadielloM/rl_aep.git
